/*
 *   IMPORTS
 **********************************************************************************************************/
@use 'palette' as *;
@use 'sass:math';
@use 'sass:map';
@use 'sass:string';

/*
 *   STYLES
 **********************************************************************************************************/
@layer components {
    $colorConfigs: (
        'primary': ('solid': ('base': $button-primary-solid-bg,
                'hover': $button-primary-solid-bg-hover,
                'focus': $button-primary-solid-bg-focus,
                'border': $button-primary-solid-border,
                'border-hover': $button-primary-solid-border-hover,
                'border-focus': $button-primary-solid-border-focus,
                'label': $button-primary-solid-label,
                'label-hover': $button-primary-solid-label-hover,
                'label-focus': $button-primary-solid-label-focus,
            ),
            'outlined': ('base': $button-primary-outlined-bg,
                'hover': $button-primary-outlined-bg-hover,
                'focus': $button-primary-outlined-bg-focus,
                'border': $button-primary-outlined-border,
                'border-hover': $button-primary-outlined-border-hover,
                'border-focus': $button-primary-outlined-border-focus,
                'label': $button-primary-outlined-label,
                'label-hover': $button-primary-outlined-label-hover,
                'label-focus': $button-primary-outlined-label-focus,
            ),
            'text': ('base': $button-primary-text-bg,
                'hover': $button-primary-text-bg-hover,
                'focus': $button-primary-text-bg-focus,
                'border': $button-primary-text-border,
                'border-hover': $button-primary-text-border-hover,
                'border-focus': $button-primary-text-border-focus,
                'label': $button-primary-text-label,
                'label-hover': $button-primary-text-label-hover,
                'label-focus': $button-primary-text-label-focus,
            ),
            'iconSolid': ('base': $button-primary-icon-solid-bg,
                'hover': $button-primary-icon-solid-bg-hover,
                'focus': $button-primary-icon-solid-bg-focus,
                'border': $button-primary-icon-solid-border,
                'border-hover': $button-primary-icon-solid-border-hover,
                'border-focus': $button-primary-icon-solid-border-focus,
                'label': $button-primary-icon-solid-label,
                'label-hover': $button-primary-icon-solid-label-hover,
                'label-focus': $button-primary-icon-solid-label-focus,
            ),
            'iconOutlined': ('base': $button-primary-icon-outlined-bg,
                'hover': $button-primary-icon-outlined-bg-hover,
                'focus': $button-primary-icon-outlined-bg-focus,
                'border': $button-primary-icon-outlined-border,
                'border-hover': $button-primary-icon-outlined-border-hover,
                'border-focus': $button-primary-icon-outlined-border-focus,
                'label': $button-primary-icon-outlined-label,
                'label-hover': $button-primary-icon-outlined-label-hover,
                'label-focus': $button-primary-icon-outlined-label-focus,
            ),
        ),
        'success': ('solid': ('base': $button-success-solid-bg,
                'hover': $button-success-solid-bg-hover,
                'focus': $button-success-solid-bg-focus,
                'border': $button-success-solid-border,
                'border-hover': $button-success-solid-border-hover,
                'border-focus': $button-success-solid-border-focus,
                'label': $button-success-solid-label,
                'label-hover': $button-success-solid-label-hover,
                'label-focus': $button-success-solid-label-focus,
            ),
            'outlined': ('base': $button-success-outlined-bg,
                'hover': $button-success-outlined-bg-hover,
                'focus': $button-success-outlined-bg-focus,
                'border': $button-success-outlined-border,
                'border-hover': $button-success-outlined-border-hover,
                'border-focus': $button-success-outlined-border-focus,
                'label': $button-success-outlined-label,
                'label-hover': $button-success-outlined-label-hover,
                'label-focus': $button-success-outlined-label-focus,
            ),
            'text': ('base': $button-success-text-bg,
                'hover': $button-success-text-bg-hover,
                'focus': $button-success-text-bg-focus,
                'border': $button-success-text-border,
                'border-hover': $button-success-text-border-hover,
                'border-focus': $button-success-text-border-focus,
                'label': $button-success-text-label,
                'label-hover': $button-success-text-label-hover,
                'label-focus': $button-success-text-label-focus,
            ),
            'iconSolid': ('base': $button-success-icon-solid-bg,
                'hover': $button-success-icon-solid-bg-hover,
                'focus': $button-success-icon-solid-bg-focus,
                'border': $button-success-icon-solid-border,
                'border-hover': $button-success-icon-solid-border-hover,
                'border-focus': $button-success-icon-solid-border-focus,
                'label': $button-success-icon-solid-label,
                'label-hover': $button-success-icon-solid-label-hover,
                'label-focus': $button-success-icon-solid-label-focus,
            ),
            'iconOutlined': ('base': $button-success-icon-outlined-bg,
                'hover': $button-success-icon-outlined-bg-hover,
                'focus': $button-success-icon-outlined-bg-focus,
                'border': $button-success-icon-outlined-border,
                'border-hover': $button-success-icon-outlined-border-hover,
                'border-focus': $button-success-icon-outlined-border-focus,
                'label': $button-success-icon-outlined-label,
                'label-hover': $button-success-icon-outlined-label-hover,
                'label-focus': $button-success-icon-outlined-label-focus,
            ),
        ),
        'error': ('solid': ('base': $button-error-solid-bg,
                'hover': $button-error-solid-bg-hover,
                'focus': $button-error-solid-bg-focus,
                'border': $button-error-solid-border,
                'border-hover': $button-error-solid-border-hover,
                'border-focus': $button-error-solid-border-focus,
                'label': $button-error-solid-label,
                'label-hover': $button-error-solid-label-hover,
                'label-focus': $button-error-solid-label-focus,
            ),
            'outlined': ('base': $button-error-outlined-bg,
                'hover': $button-error-outlined-bg-hover,
                'focus': $button-error-outlined-bg-focus,
                'border': $button-error-outlined-border,
                'border-hover': $button-error-outlined-border-hover,
                'border-focus': $button-error-outlined-border-focus,
                'label': $button-error-outlined-label,
                'label-hover': $button-error-outlined-label-hover,
                'label-focus': $button-error-outlined-label-focus,
            ),
            'text': ('base': $button-error-text-bg,
                'hover': $button-error-text-bg-hover,
                'focus': $button-error-text-bg-focus,
                'border': $button-error-text-border,
                'border-hover': $button-error-text-border-hover,
                'border-focus': $button-error-text-border-focus,
                'label': $button-error-text-label,
                'label-hover': $button-error-text-label-hover,
                'label-focus': $button-error-text-label-focus,
            ),
            'iconSolid': ('base': $button-error-icon-solid-bg,
                'hover': $button-error-icon-solid-bg-hover,
                'focus': $button-error-icon-solid-bg-focus,
                'border': $button-error-icon-solid-border,
                'border-hover': $button-error-icon-solid-border-hover,
                'border-focus': $button-error-icon-solid-border-focus,
                'label': $button-error-icon-solid-label,
                'label-hover': $button-error-icon-solid-label-hover,
                'label-focus': $button-error-icon-solid-label-focus,
            ),
            'iconOutlined': ('base': $button-error-icon-outlined-bg,
                'hover': $button-error-icon-outlined-bg-hover,
                'focus': $button-error-icon-outlined-bg-focus,
                'border': $button-error-icon-outlined-border,
                'border-hover': $button-error-icon-outlined-border-hover,
                'border-focus': $button-error-icon-outlined-border-focus,
                'label': $button-error-icon-outlined-label,
                'label-hover': $button-error-icon-outlined-label-hover,
                'label-focus': $button-error-icon-outlined-label-focus,
            ),
        ),
        'disabled': ('solid': ('base': $button-disabled-solid-bg,
                'hover': $button-disabled-solid-bg-hover,
                'focus': $button-disabled-solid-bg-focus,
                'border': $button-disabled-solid-border,
                'border-hover': $button-disabled-solid-border-hover,
                'border-focus': $button-disabled-solid-border-focus,
                'label': $button-disabled-solid-label,
                'label-hover': $button-disabled-solid-label-hover,
                'label-focus': $button-disabled-solid-label-focus,
            ),
            'outlined': ('base': $button-disabled-outlined-bg,
                'hover': $button-disabled-outlined-bg-hover,
                'focus': $button-disabled-outlined-bg-focus,
                'border': $button-disabled-outlined-border,
                'border-hover': $button-disabled-outlined-border-hover,
                'border-focus': $button-disabled-outlined-border-focus,
                'label': $button-disabled-outlined-label,
                'label-hover': $button-disabled-outlined-label-hover,
                'label-focus': $button-disabled-outlined-label-focus,
            ),
            'text': ('base': $button-disabled-text-bg,
                'hover': $button-disabled-text-bg-hover,
                'focus': $button-disabled-text-bg-focus,
                'border': $button-disabled-text-border,
                'border-hover': $button-disabled-text-border-hover,
                'border-focus': $button-disabled-text-border-focus,
                'label': $button-disabled-text-label,
                'label-hover': $button-disabled-text-label-hover,
                'label-focus': $button-disabled-text-label-focus,
            ),
            'iconSolid': ('base': $button-disabled-icon-solid-bg,
                'hover': $button-disabled-icon-solid-bg-hover,
                'focus': $button-disabled-icon-solid-bg-focus,
                'border': $button-disabled-icon-solid-border,
                'border-hover': $button-disabled-icon-solid-border-hover,
                'border-focus': $button-disabled-icon-solid-border-focus,
                'label': $button-disabled-icon-solid-label,
                'label-hover': $button-disabled-icon-solid-label-hover,
                'label-focus': $button-disabled-icon-solid-label-focus,
            ),
            'iconOutlined': ('base': $button-disabled-icon-outlined-bg,
                'hover': $button-disabled-icon-outlined-bg-hover,
                'focus': $button-disabled-icon-outlined-bg-focus,
                'border': $button-disabled-icon-outlined-border,
                'border-hover': $button-disabled-icon-outlined-border-hover,
                'border-focus': $button-disabled-icon-outlined-border-focus,
                'label': $button-disabled-icon-outlined-label,
                'label-hover': $button-disabled-icon-outlined-label-hover,
                'label-focus': $button-disabled-icon-outlined-label-focus,
            ),
        )
    );

.adornmentItem {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.buttonLabel {
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
}

.buttonWrapper {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;

    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;

    & span {
        transition: all 0.3s ease-in-out;
    }

    &:focus,
    &:focus-visible {
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &.sizeSmall {
        font-size: 0.85rem;
        height: 38px;
        padding-inline: 16px;

        &.hasStartAdornment {
            padding-left: 16px;
        }

        &.hasEndAdornment {
            padding-right: 16px;
        }

        &.iconSolid,
        &.iconOutlined {
            width: 38px;
            min-width: 38px;
            padding: 0;
        }
    }

    &.sizeMedium {
        font-size: 1rem;
        height: 44px;
        padding-inline: 24px;

        &.hasStartAdornment {
            padding-left: 16px;
        }

        &.hasEndAdornment {
            padding-right: 24px;
        }

        &.iconSolid,
        &.iconOutlined {
            width: 44px;
            min-width: 44px;
            padding: 0;
        }
    }

    &.sizeLarge {
        font-size: 1rem;
        height: 52px;
        padding-inline: 24px;

        &.hasStartAdornment {
            padding-left: 24px;
        }

        &.hasEndAdornment {
            padding-right: 24px;
        }

        &.iconSolid,
        &.iconOutlined {
            width: 52px;
            min-width: 52px;
            padding: 0;
        }
    }
}

@function capitalize($string) {
    @return string.to-upper-case(string.slice($string, 1, 1))+string.slice($string, 2);
}

@function em($pixels) {
    @return math.div($pixels, 16) * 1em;
}

@each $colorName, $variants in $colorConfigs {
    @each $variantName, $variantConfig in $variants {
        .color#{capitalize($colorName)}#{capitalize($variantName)} {
            color: map.get($variantConfig, 'label');
            border: 1px solid map.get($variantConfig, 'border');
            background-color: map.get($variantConfig, 'base');

            @if $variantName =='iconSolid' or $variantName =='iconOutlined' {
                padding: 0;
                border-radius: 50%;
            }

            &>span,
            & * {
                color: map.get($variantConfig, 'label');
            }

            &:hover {
                color: map.get($variantConfig, 'label-hover');
                border-color: map.get($variantConfig, 'border-hover');
                background-color: map.get($variantConfig, 'hover');

                &>span,
                & * {
                    color: map.get($variantConfig, 'label-hover');
                }
            }

            &:focus {
                color: map.get($variantConfig, 'label-focus');
                border-color: map.get($variantConfig, 'border-focus');
                background-color: map.get($variantConfig, 'focus');

                &>span,
                & * {
                    color: map.get($variantConfig, 'label-focus');
                }
            }
        }
    }
}
}