/*
 *   IMPORTS
 ***************************************************************************************************/
@use 'sass:color';

/*
 *   BASE
 ***************************************************************************************************/
$white: #ffffff;
$black: #000000;

/*
 *   COMPANY COLORS
 ***************************************************************************************************/
$magenta-d2: #6E0A46;
$magenta-d1: #9C1767;
$magenta: #C42A87;
$magenta-l1: #DD71B2;
$magenta-l2: #F1BBDC;

$magenta-gradient-stop-2: #fc35ad;
$magenta-gradient-stop-1: #e32f9b;
$magenta-gradient: linear-gradient(to right, $magenta-gradient-stop-2, $magenta-gradient-stop-1);

$pink-d2: #800C59;
$pink-d1: #BF1D83;
$pink: #FC35AC;
$pink-l1: #FF77CA;
$pink-l2: #FFBEE7;

$grey-d2: #6E6E73;
$grey-d1: #A5A5AC;
$grey: #DDDDE5;
$grey-l1: #E9E9EE;
$grey-l2: #F5F5F7;

$navy-d2: #07093A;
$navy-d1: #0E1152;
$navy: #191C68;
$navy-l1: #676A9F;
$navy-l2: #B8B9D4;

$yellow-d2: #807000;
$yellow-d1: #BFA000;
$yellow: #FFCB11;
$yellow-l1: #FFE15E;
$yellow-l2: #FFF3B3;

$blue-d2: #006180;
$blue-d1: #078CBA;
$blue: #19B3E8;
$blue-l1: #64D0F5;
$blue-l2: #B5EBFD;

$green-d2: #00735F;
$green-d1: #00A286;
$green: #03C9A9;
$green-l1: #59E1CB;
$green-l2: #B3F4E8;

$orange-d2: #803E02;
$orange-d1: #B85E0F;
$orange: #E67E22;
$orange-l1: #F4AB6A;
$orange-l2: #FCD8B8;

$red-d2: #800000;
$red-d1: #d71500;
$red: #E71700;
$red-l1: #F56359;
$red-l2: #FDB5B3;

/*
 *   SURFACE
 ***************************************************************************************************/
$surface0a: #fefefe;
$surface00: #f7f7f7;
$surface01: #f0eeee;
$surface02: #e7e6e6;
$surface03: #e0dede;
$surface04: #d1d0d0;

$border0a: #e0e0e0;
$border00: #dbdbdb;
$border01: #cccccc;
$border02: #bebebe;

$shadow00: #acacac;
$shadow01: #808080;
$shadow02: #5d5e5f;

/*
 *   TYPEOGRAPHY
 ***************************************************************************************************/
$text00: #3b3b3b;
$text01: #4d4b4b;
$text02: #585757;
$text03: #6d6b6b;
$text04: #959697;
$text05: #ffffff;

/*
 *   STATUS
 ***************************************************************************************************/
$statusBlue: #4360af;
$statusBlueHover: #37539e;
$statusBlueActive: #37539e;
$statusGreen: #65b662;
$statusGreenHover: #50904e;
$statusGreenActive: #478145;
$statusRed: #c54854;
$statusRedHover: #a83742;
$statusRedActive: #94303a;
$statusOrange: #e08d3f;
$statusOrangeHover: #c47530;
$statusOrangeActive: #b46927;

/*
 *   BUTTON - PRIMARY
 ***************************************************************************************************/
// Primary gradient
$button-primary-gradient: $magenta-gradient;

// Primary Solid
$button-primary-solid-bg: $button-primary-gradient;
$button-primary-solid-bg-hover: #c42a87;
$button-primary-solid-bg-focus: $magenta-d1;
$button-primary-solid-border: transparent;
$button-primary-solid-border-hover: transparent;
$button-primary-solid-border-focus: $magenta-d1;
$button-primary-solid-label: $white;
$button-primary-solid-label-hover: $white;
$button-primary-solid-label-focus: $white;

// Primary Outlined
$button-primary-outlined-bg: transparent;
$button-primary-outlined-bg-hover: #c42a87;
$button-primary-outlined-bg-focus: $magenta-d1;
$button-primary-outlined-border: $magenta;
$button-primary-outlined-border-hover: transparent;
$button-primary-outlined-border-focus: $magenta-d1;
$button-primary-outlined-label: $magenta;
$button-primary-outlined-label-hover: $white;
$button-primary-outlined-label-focus: $white;

// Primary Text
$button-primary-text-bg: transparent;
$button-primary-text-bg-hover: rgba($magenta-l1, 0.2);
$button-primary-text-bg-focus: rgba($magenta-d1, 0.3);
$button-primary-text-border: transparent;
$button-primary-text-border-hover: transparent;
$button-primary-text-border-focus: transparent;
$button-primary-text-label: $magenta;
$button-primary-text-label-hover: $magenta-l1;
$button-primary-text-label-focus: $magenta-d1;

// Primary Icon Solid
$button-primary-icon-solid-bg: $button-primary-gradient;
$button-primary-icon-solid-bg-hover: #c42a87;
$button-primary-icon-solid-bg-focus: $magenta-d1;
$button-primary-icon-solid-border: transparent;
$button-primary-icon-solid-border-hover: transparent;
$button-primary-icon-solid-border-focus: $magenta-d1;
$button-primary-icon-solid-label: $white;
$button-primary-icon-solid-label-hover: $white;
$button-primary-icon-solid-label-focus: $white;

// Primary Icon Outlined
$button-primary-icon-outlined-bg: transparent;
$button-primary-icon-outlined-bg-hover: #c42a87;
$button-primary-icon-outlined-bg-focus: $magenta-d1;
$button-primary-icon-outlined-border: $magenta;
$button-primary-icon-outlined-border-hover: transparent;
$button-primary-icon-outlined-border-focus: $magenta-d1;
$button-primary-icon-outlined-label: $magenta;
$button-primary-icon-outlined-label-hover: $white;
$button-primary-icon-outlined-label-focus: $white;

/*
 *   BUTTON - SUCCESS
 ***************************************************************************************************/
// Success Solid
$button-success-solid-bg: $green;
$button-success-solid-bg-hover: $green-d1;
$button-success-solid-bg-focus: $green-l1;
$button-success-solid-border: $green;
$button-success-solid-border-hover: $green-d1;
$button-success-solid-border-focus: $green-l1;
$button-success-solid-label: $white;
$button-success-solid-label-hover: $white;
$button-success-solid-label-focus: $white;

// Success Outlined
$button-success-outlined-bg: transparent;
$button-success-outlined-bg-hover: $green-d1;
$button-success-outlined-bg-focus: $green-l1;
$button-success-outlined-border: $green;
$button-success-outlined-border-hover: $green-d1;
$button-success-outlined-border-focus: $green-l1;
$button-success-outlined-label: $green;
$button-success-outlined-label-hover: $white;
$button-success-outlined-label-focus: $white;

// Success Text
$button-success-text-bg: transparent;
$button-success-text-bg-hover: rgba($green-d1, 0.1);
$button-success-text-bg-focus: rgba($green-l1, 0.1);
$button-success-text-border: transparent;
$button-success-text-border-hover: transparent;
$button-success-text-border-focus: transparent;
$button-success-text-label: $green;
$button-success-text-label-hover: $green-d1;
$button-success-text-label-focus: $green-l1;

// Success Icon Solid
$button-success-icon-solid-bg: $green;
$button-success-icon-solid-bg-hover: $green-d1;
$button-success-icon-solid-bg-focus: $green-l1;
$button-success-icon-solid-border: $green;
$button-success-icon-solid-border-hover: $green-d1;
$button-success-icon-solid-border-focus: $green-l1;
$button-success-icon-solid-label: $white;
$button-success-icon-solid-label-hover: $white;
$button-success-icon-solid-label-focus: $white;

// Success Icon Outlined
$button-success-icon-outlined-bg: transparent;
$button-success-icon-outlined-bg-hover: $green-d1;
$button-success-icon-outlined-bg-focus: $green-l1;
$button-success-icon-outlined-border: $green;
$button-success-icon-outlined-border-hover: $green-d1;
$button-success-icon-outlined-border-focus: $green-l1;
$button-success-icon-outlined-label: $green;
$button-success-icon-outlined-label-hover: $white;
$button-success-icon-outlined-label-focus: $white;

/*
 *   BUTTON - ERROR
 ***************************************************************************************************/
// Error Solid
$button-error-solid-bg: $red;
$button-error-solid-bg-hover: $red-d1;
$button-error-solid-bg-focus: $red-l1;
$button-error-solid-border: $red;
$button-error-solid-border-hover: $red-d1;
$button-error-solid-border-focus: $red-l1;
$button-error-solid-label: $white;
$button-error-solid-label-hover: $white;
$button-error-solid-label-focus: $white;

// Error Outlined
$button-error-outlined-bg: transparent;
$button-error-outlined-bg-hover: $red-d1;
$button-error-outlined-bg-focus: $red-l1;
$button-error-outlined-border: $red;
$button-error-outlined-border-hover: $red-d1;
$button-error-outlined-border-focus: $red-l1;
$button-error-outlined-label: $red;
$button-error-outlined-label-hover: $white;
$button-error-outlined-label-focus: $white;

// Error Text
$button-error-text-bg: transparent;
$button-error-text-bg-hover: rgba($red-d1, 0.1);
$button-error-text-bg-focus: rgba($red-l1, 0.1);
$button-error-text-border: transparent;
$button-error-text-border-hover: transparent;
$button-error-text-border-focus: transparent;
$button-error-text-label: $red;
$button-error-text-label-hover: $red-d1;
$button-error-text-label-focus: $red-l1;

// Error Icon Solid
$button-error-icon-solid-bg: $red;
$button-error-icon-solid-bg-hover: $red-d1;
$button-error-icon-solid-bg-focus: $red-l1;
$button-error-icon-solid-border: $red;
$button-error-icon-solid-border-hover: $red-d1;
$button-error-icon-solid-border-focus: $red-l1;
$button-error-icon-solid-label: $white;
$button-error-icon-solid-label-hover: $white;
$button-error-icon-solid-label-focus: $white;

// Error Icon Outlined
$button-error-icon-outlined-bg: transparent;
$button-error-icon-outlined-bg-hover: $red-d1;
$button-error-icon-outlined-bg-focus: $red-l1;
$button-error-icon-outlined-border: $red;
$button-error-icon-outlined-border-hover: $red-d1;
$button-error-icon-outlined-border-focus: $red-l1;
$button-error-icon-outlined-label: $red;
$button-error-icon-outlined-label-hover: $white;
$button-error-icon-outlined-label-focus: $white;

/*
 *   BUTTON - DISABLED
 ***************************************************************************************************/
// Disabled Solid
$button-disabled-solid-bg: rgba(#e3dede, 0.35);
$button-disabled-solid-bg-hover: rgba(#e3dede, 0.35);
$button-disabled-solid-bg-focus: rgba(#e3dede, 0.35);
$button-disabled-solid-border: #e3dede;
$button-disabled-solid-border-hover: #e3dede;
$button-disabled-solid-border-focus: #e3dede;
$button-disabled-solid-label: #aaa7a7;
$button-disabled-solid-label-hover: #aaa7a7;
$button-disabled-solid-label-focus: #aaa7a7;

// Disabled Outlined
$button-disabled-outlined-bg: rgba(#e3dede, 0.2);
$button-disabled-outlined-bg-hover: rgba(#e3dede, 0.2);
$button-disabled-outlined-bg-focus: rgba(#e3dede, 0.2);
$button-disabled-outlined-border: #e3dede;
$button-disabled-outlined-border-hover: #e3dede;
$button-disabled-outlined-border-focus: #e3dede;
$button-disabled-outlined-label: #aaa7a7;
$button-disabled-outlined-label-hover: #aaa7a7;
$button-disabled-outlined-label-focus: #aaa7a7;

// Disabled Text
$button-disabled-text-bg: rgba(#e3dede, 0.1);
$button-disabled-text-bg-hover: rgba(#e3dede, 0.1);
$button-disabled-text-bg-focus: rgba(#e3dede, 0.1);
$button-disabled-text-border: transparent;
$button-disabled-text-border-hover: transparent;
$button-disabled-text-border-focus: transparent;
$button-disabled-text-label: #e3dede;
$button-disabled-text-label-hover: #e3dede;
$button-disabled-text-label-focus: #e3dede;

// Disabled Icon Solid
$button-disabled-icon-solid-bg: #e3dede;
$button-disabled-icon-solid-bg-hover: #e3dede;
$button-disabled-icon-solid-bg-focus: #e3dede;
$button-disabled-icon-solid-border: #e3dede;
$button-disabled-icon-solid-border-hover: #e3dede;
$button-disabled-icon-solid-border-focus: #e3dede;
$button-disabled-icon-solid-label: $white;
$button-disabled-icon-solid-label-hover: $white;
$button-disabled-icon-solid-label-focus: $white;

// Disabled Icon Outlined
$button-disabled-icon-outlined-bg: rgba(#e3dede, 0.2);
$button-disabled-icon-outlined-bg-hover: rgba(#e3dede, 0.2);
$button-disabled-icon-outlined-bg-focus: rgba(#e3dede, 0.2);
$button-disabled-icon-outlined-border: #e3dede;
$button-disabled-icon-outlined-border-hover: #e3dede;
$button-disabled-icon-outlined-border-focus: #e3dede;
$button-disabled-icon-outlined-label: #aaa7a7;
$button-disabled-icon-outlined-label-hover: #aaa7a7;
$button-disabled-icon-outlined-label-focus: #aaa7a7;