/*
 *   IMPORTS
 ***************************************************************************************************/
@use 'sass:color';

/*
 *   BASE
 ***************************************************************************************************/
$white: #ffffff;
$black: #000000;

/*
 *   COLORS - Only used colors are kept
 ***************************************************************************************************/
$red: #c54854;
$orange: #e08d3f;

/*
 *   SURFACE
 ***************************************************************************************************/
$surface0a: #fefefe;
$surface00: #f7f7f7;
$surface01: #f0eeee;
$surface02: #e7e6e6;
$surface03: #e0dede;
$surface04: #d1d0d0;

$border0a: #e0e0e0;
$border00: #dbdbdb;
$border01: #cccccc;
$border02: #bebebe;

$shadow00: #acacac;
$shadow01: #808080;
$shadow02: #5d5e5f;

/*
 *   TYPEOGRAPHY
 ***************************************************************************************************/
$text00: #3b3b3b;
$text01: #4d4b4b;
$text02: #585757;
$text03: #6d6b6b;
$text04: #959697;
$text05: #ffffff;

/*
 *   BUTTON - PRIMARY
 ***************************************************************************************************/
// Primary Solid
$button-primary-solid-bg: transparent;
$button-primary-solid-bg-hover: $text01;
$button-primary-solid-bg-focus: $text01;
$button-primary-solid-border: $text00;
$button-primary-solid-border-hover: $text01;
$button-primary-solid-border-focus: $text01;
$button-primary-solid-label: $text00;
$button-primary-solid-label-hover: $surface00;
$button-primary-solid-label-focus: $surface00;

// Primary Outlined
$button-primary-outlined-bg: transparent;
$button-primary-outlined-bg-hover: $text01;
$button-primary-outlined-bg-focus: $text01;
$button-primary-outlined-border: $text00;
$button-primary-outlined-border-hover: $text01;
$button-primary-outlined-border-focus: $text01;
$button-primary-outlined-label: $text00;
$button-primary-outlined-label-hover: $surface00;
$button-primary-outlined-label-focus: $surface00;

// Primary Text
$button-primary-text-bg: transparent;
$button-primary-text-bg-hover: rgba($text01, 0.1);
$button-primary-text-bg-focus: rgba($text01, 0.2);
$button-primary-text-border: transparent;
$button-primary-text-border-hover: transparent;
$button-primary-text-border-focus: transparent;
$button-primary-text-label: $text00;
$button-primary-text-label-hover: $text01;
$button-primary-text-label-focus: $text01;

// Primary Icon Solid
$button-primary-icon-solid-bg: transparent;
$button-primary-icon-solid-bg-hover: $text01;
$button-primary-icon-solid-bg-focus: $text01;
$button-primary-icon-solid-border: $text00;
$button-primary-icon-solid-border-hover: $text01;
$button-primary-icon-solid-border-focus: $text01;
$button-primary-icon-solid-label: $text00;
$button-primary-icon-solid-label-hover: $surface00;
$button-primary-icon-solid-label-focus: $surface00;

// Primary Icon Outlined
$button-primary-icon-outlined-bg: transparent;
$button-primary-icon-outlined-bg-hover: $text01;
$button-primary-icon-outlined-bg-focus: $text01;
$button-primary-icon-outlined-border: $text00;
$button-primary-icon-outlined-border-hover: $text01;
$button-primary-icon-outlined-border-focus: $text01;
$button-primary-icon-outlined-label: $text00;
$button-primary-icon-outlined-label-hover: $surface00;
$button-primary-icon-outlined-label-focus: $surface00;

/*
 *   BUTTON - DISABLED
 ***************************************************************************************************/
// Disabled Solid
$button-disabled-solid-bg: rgba(#e3dede, 0.35);
$button-disabled-solid-bg-hover: rgba(#e3dede, 0.35);
$button-disabled-solid-bg-focus: rgba(#e3dede, 0.35);
$button-disabled-solid-border: #e3dede;
$button-disabled-solid-border-hover: #e3dede;
$button-disabled-solid-border-focus: #e3dede;
$button-disabled-solid-label: #aaa7a7;
$button-disabled-solid-label-hover: #aaa7a7;
$button-disabled-solid-label-focus: #aaa7a7;

// Disabled Outlined
$button-disabled-outlined-bg: rgba(#e3dede, 0.2);
$button-disabled-outlined-bg-hover: rgba(#e3dede, 0.2);
$button-disabled-outlined-bg-focus: rgba(#e3dede, 0.2);
$button-disabled-outlined-border: #e3dede;
$button-disabled-outlined-border-hover: #e3dede;
$button-disabled-outlined-border-focus: #e3dede;
$button-disabled-outlined-label: #aaa7a7;
$button-disabled-outlined-label-hover: #aaa7a7;
$button-disabled-outlined-label-focus: #aaa7a7;

// Disabled Text
$button-disabled-text-bg: rgba(#e3dede, 0.1);
$button-disabled-text-bg-hover: rgba(#e3dede, 0.1);
$button-disabled-text-bg-focus: rgba(#e3dede, 0.1);
$button-disabled-text-border: transparent;
$button-disabled-text-border-hover: transparent;
$button-disabled-text-border-focus: transparent;
$button-disabled-text-label: #e3dede;
$button-disabled-text-label-hover: #e3dede;
$button-disabled-text-label-focus: #e3dede;

// Disabled Icon Solid
$button-disabled-icon-solid-bg: #e3dede;
$button-disabled-icon-solid-bg-hover: #e3dede;
$button-disabled-icon-solid-bg-focus: #e3dede;
$button-disabled-icon-solid-border: #e3dede;
$button-disabled-icon-solid-border-hover: #e3dede;
$button-disabled-icon-solid-border-focus: #e3dede;
$button-disabled-icon-solid-label: $white;
$button-disabled-icon-solid-label-hover: $white;
$button-disabled-icon-solid-label-focus: $white;

// Disabled Icon Outlined
$button-disabled-icon-outlined-bg: rgba(#e3dede, 0.2);
$button-disabled-icon-outlined-bg-hover: rgba(#e3dede, 0.2);
$button-disabled-icon-outlined-bg-focus: rgba(#e3dede, 0.2);
$button-disabled-icon-outlined-border: #e3dede;
$button-disabled-icon-outlined-border-hover: #e3dede;
$button-disabled-icon-outlined-border-focus: #e3dede;
$button-disabled-icon-outlined-label: #aaa7a7;
$button-disabled-icon-outlined-label-hover: #aaa7a7;
$button-disabled-icon-outlined-label-focus: #aaa7a7;
