/*
 *   IMPORTS
 **********************************************************************************************************/
@use 'palette' as *;

/*
 *   STYLE
 **********************************************************************************************************/
@layer components {
    .icon {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 8px;
        border-radius: 6px;

        >svg {
            color: $text05;
        }
    }

    .disabled {
        cursor: default;
        opacity: 0.5;
    }

    .rounded {
        padding: 12px !important;
        border-radius: 50% !important;
    }

    .interactive {
        cursor: pointer;
        padding: 8px;
        border-radius: 6px;
        background-color: transparent;
        transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        >svg {
            color: $text02;
            transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover {
            background-color: $surface03;

            >svg {
                color: $text01;
            }
        }
    }

    .interactiveColored {
        cursor: pointer;
        padding: 8px;
        border-radius: 6px;
        transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            opacity: 0.85;
        }
    }

    .interactiveOutlined {
        cursor: pointer;
        padding: 8px;
        border-radius: 6px;
        background-color: transparent;
        border: 2px solid;
        transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            >svg {
                color: $text05 !important;
            }
        }
    }

    .whiteIcon {
        color: $text05 !important;
    }

    .primary {
        background-color: $statusOrange;
    }

    .success {
        background-color: $statusGreen;
    }

    .error {
        background-color: $statusRed;
    }

    .info {
        background-color: $statusBlue;
    }

    .primaryOutlined {
        border-color: $statusOrange;
        background-color: transparent;

        >svg {
            color: $statusOrange;
        }

        &:hover {
            background-color: $statusOrange;
        }
    }

    .successOutlined {
        border-color: $statusGreen;
        background-color: transparent;

        >svg {
            color: $statusGreen;
        }

        &:hover {
            background-color: $statusGreen;
        }
    }

    .errorOutlined {
        border-color: $statusRed;
        background-color: transparent;

        >svg {
            color: $statusRed;
        }

        &:hover {
            background-color: $statusRed;
        }
    }

    .infoOutlined {
        border-color: $statusBlue;
        background-color: transparent;

        >svg {
            color: $statusBlue;
        }

        &:hover {
            background-color: $statusBlue;
        }
    }
}